PORT=3000
BANNERBEAR_API_KEY=YOUR_API_KEY
BANNERBEAR_TEMPLATE_ID=YOUR_TEMPLATE_ID
BANNERBEAR_API_BASE=https://sync.api.bannerbear.com
TITLE_LAYER_NAME=title
SUBTITLE_LAYER_NAME=subtitle
IMAGE_LAYER_NAME=photo
