PORT=3000
BANNERBEAR_API_KEY=YOUR_API_KEY
BANNERBEAR_TEMPLATE_ID=YOUR_TEMPLATE_ID
BANNERBEAR_API_BASE=https://sync.api.bannerbear.com
TITLE_LAYER_NAME=title
SUBTITLE_LAYER_NAME=subtitle
MAIN_IMAGE_LAYER_NAME=photo_main
SECONDARY_IMAGE_LAYER_NAMES=photo_sub_1,photo_sub_2,photo_sub_3,photo_sub_4,photo_sub_5
BLOB_READ_WRITE_TOKEN=YOUR_VERCEL_BLOB_READ_WRITE_TOKEN
