PORT=3000
BANNERBEAR_API_KEY=YOUR_API_KEY
BANNERBEAR_TEMPLATE_ID=YOUR_TEMPLATE_ID
BANNERBEAR_API_BASE=https://sync.api.bannerbear.com
TITLE_LAYER_NAME=car_model
SUBTITLE_LAYER_NAME=car_brand
MAIN_IMAGE_LAYER_NAME=car_image
SECONDARY_IMAGE_LAYER_NAMES=product1,product2
ITEM_LAYER_NAMES=items1,items2,items3
BLOB_READ_WRITE_TOKEN=YOUR_VERCEL_BLOB_READ_WRITE_TOKEN
